*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

.vs/
*.VC.db
*.VC.VC.opendb

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
wwwroot/dist/

*.mdf
*.ldf
*.ndf

*.env
.env
secrets.json
**/appsettings.Production.json

.idea/
*.sln.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage/

*.pubxml
*.publishproj
PublishScripts/

.DS_Store
Thumbs.db
desktop.ini

*.log

.dotnet/

app/node_modules/
app/dist/
app/tmp/
app/out-tsc/
app/bazel-out/
app/.angular/cache/
app/.sass-cache/
app/connect.lock
app/coverage/
app/libpeerconnection.log
app/testem.log
app/typings/
app/__screenshots__/
app/.history/
app/npm-debug.log
app/yarn-error.log
app/.c9/
app/*.launch
app/.settings/
app/*.sublime-workspace